<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Admin Management</h1>
    <div class="text-right mb-3">
        <a href="/admin/add-user" class="btn btn-primary">Add New User</a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
            <th>PhoneNumber</th>
            <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td>
                <a th:href="@{/admin/user/{id}(id=${user.id})}" th:text="${user.username}"></a>
            </td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.role}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td>
                <a th:href="@{/admin/edit-user(id=${user.id})}" class="btn btn-warning btn-sm">Edit</a>
                <a th:href="@{/admin/delete-user(id=${user.id})}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
