<!doctype html>
<html lang="en">
  <head>
  	<title>Login 10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/login-form-20/css/style.css">
	</head>

	<body class="img js-fullheight" style="background-image: url(/login-form-20/images/img_3.png);">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">BestPlaces</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
					<form action="/login" method="post" class="signin-form">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Tên tài khoản" name="username" required>
						</div>
						<div class="form-group">
						  <input id="password-field" type="password" class="form-control" placeholder="Mật khẩu" name="password" required>
						  <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
						</div>
						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary submit px-3">Đăng nhập</button>
						</div>
						<div class="form-group d-md-flex">
							<div class="w-50">
								<label class="checkbox-wrap checkbox-primary">Ghi nhớ
									<input type="checkbox" checked>
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="w-50 text-md-right">
								<a href="/forgot" style="color: #fff">Quên mật khẩu</a>
							</div>
						</div>
				  </form>
					<p class="w-100 text-center">&mdash;Đăng ký &mdash;</p>
						<div class="social d-flex text-center">
							<a href="/registration" class="px-2 py-2 mr-md-1 rounded"><span class="mr-2"></span> ĐĂNG KÝ</a>
						</div>
				  </div>
					</div>
				</div>
			</div>
		</section>

		<!-- Error Modal -->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="errorModalLabel">Login Error</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						Invalid username or password. Please try again.
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

	<script src="/login-form-20/js/jquery.min.js"></script>
  	<script src="/login-form-20/js/popper.js"></script>
  	<script src="/login-form-20/js/bootstrap.min.js"></script>
  	<script src="/login-form-20/js/main.js"></script>
		<!-- Script to show error modal -->
		<script type="text/javascript">
			$(document).ready(function() {
				var urlParams = new URLSearchParams(window.location.search);
				if (urlParams.has('error')) {
					$('#errorModal').modal('show');
				}
			});
		</script>
	</body>
</html>

