<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Image Uploader</title>-->
<!--</head>-->
<!--<body>-->
<!--<div id="app" class="app">-->
<!--    <div id="resultMessage"></div>-->
<!--    <h1>Image Uploader</h1>-->
<!--    <input type="file" id="imageInput" accept="image/*">-->
<!--    <button onclick="handleUpload()" disabled>Upload Image</button>-->
<!--</div>-->

<!--<script>-->
<!--    document.getElementById('imageInput').addEventListener('change', function(event) {-->
<!--        const selectedFile = event.target.files[0];-->
<!--        const uploadButton = document.querySelector('button');-->
<!--        uploadButton.disabled = !selectedFile;-->
<!--    });-->

<!--    async function handleUpload() {-->
<!--        const selectedFile = document.getElementById('imageInput').files[0];-->
<!--        const formData = new FormData();-->
<!--        formData.append('image', selectedFile);-->
<!--        console.log(formData);-->

<!--        try {-->
<!--            const response = await fetch('http://localhost:8080/uploadToGoogleDrive', {-->
<!--                method: 'POST',-->
<!--                body: formData-->
<!--            });-->

<!--            const result = await response.json();-->
<!--            const resultMessage = document.getElementById('resultMessage');-->

<!--            if (response.status === 200) {-->
<!--                resultMessage.innerText = `Success: ${result.message}`;-->
<!--            } else {-->
<!--                resultMessage.innerText = `Error: ${result.message}`;-->
<!--            }-->

<!--            setTimeout(() => {-->
<!--                resultMessage.innerText = '';-->
<!--                document.getElementById('imageInput').value = '';-->
<!--            }, 5000);-->
<!--        } catch (error) {-->
<!--            console.error('Error uploading image:', error.message);-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->
