<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verification Code Form</title>
</head>
<body>
<h2>Generate Verification Code</h2>
<form action="#" th:action="@{/generate-code}" method="post">
    <button type="submit">Generate Code</button>
        <label for="phoneNumber">Phone Number:</label>
        <input type="text" id="phoneNumber" name="phoneNumber" th:value="${phoneNumber}">
    <p>The generated verification code is: <span th:text="${generatedCode}"></span></p>
    <p>The request user is: <span th:text="${usernameWithCode}"></span></p>
</form>

<hr>

<h2>Verify Verification Code</h2>
<form action="#" th:action="@{/verify-code-phone}" method="post">
    <label for="verificationCode">Verification Code:</label>
    <input type="text" id="verificationCode" name="verificationCode" required><br><br>
    <button type="submit">Verify Code</button>
</form>
<hr>
</body>
</html>
